<?xml version="1.0" encoding="ISO-8859-1"?> 
<web-app>
	<servlet> 
		<servlet-name>takeTest</servlet-name> 
		<servlet-class>org.iso.takeTest</servlet-class> 
	</servlet> 
	<servlet> 
		<servlet-name>initTest</servlet-name> 
		<servlet-class>org.iso.initTest</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>testMenu</servlet-name> 
		<servlet-class>org.iso.testMenu</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>GuardarDatos</servlet-name> 
		<servlet-class>org.iso.GuardarDatos</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>writeAnswers</servlet-name> 
		<servlet-class>org.iso.writeAnswers</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>PlantillaExamen</servlet-name> 
		<servlet-class>org.iso.PlantillaExamen</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>requestNumbers</servlet-name> 
		<servlet-class>org.iso.requestNumbers</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>menu</servlet-name> 
		<servlet-class>org.iso.menu</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>Calificaciones</servlet-name> 
		<servlet-class>org.iso.Calificaciones</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>RegistroUsuario</servlet-name> 
		<servlet-class>org.iso.RegistroUsuario</servlet-class> 
	</servlet>
	<servlet> 
		<servlet-name>test</servlet-name> 
		<servlet-class>org.iso.test</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>test</servlet-name> 
		<url-pattern>/test</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>RegistroUsuario</servlet-name> 
		<url-pattern>/RegistroUsuario</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>Calificaciones</servlet-name> 
		<url-pattern>/Calificaciones</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>menu</servlet-name> 
		<url-pattern>/menu</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>requestNumbers</servlet-name> 
		<url-pattern>/requestNumbers</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>PlantillaExamen</servlet-name> 
		<url-pattern>/PlantillaExamen</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>GuardarDatos</servlet-name> 
		<url-pattern>/GuardarDatos</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>writeAnswers</servlet-name> 
		<url-pattern>/writeAnswers</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>testMenu</servlet-name> 
		<url-pattern>/testMenu</url-pattern> 
	</servlet-mapping> 
	<servlet-mapping> 
		<servlet-name>initTest</servlet-name> 
		<url-pattern>/initTest</url-pattern> 
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>takeTest</servlet-name> 
		<url-pattern>/takeTest</url-pattern> 
	</servlet-mapping> 
</web-app>